{
  "source": {
    "host": "localhost",
    "port": 5432,
    "database": "portifolio",
    "username": "portifolio",
    "password": "portifolio"
  },
  "destination": {
    "host": "localhost",
    "port": 5433,
    "database": "portifolio",
    "username": "portifolio",
    "password": "portifolio"
  },
  "backup": {
    "directory": "./backups",
    "filename_prefix": "postgres_backup"
  }
}
